{% extends "base.html" %}
<!-- {% load bootstrap3 %} -->
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"> -->
    <!-- <div class="content-section">
      <div class="media">
        <img class="img-circle" width="150px" src="{{ user.profile.image.url }}">

        <div class="media-body">
          <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
          <p class="text-secondary">{{ user.profile.Gender }}</p>
          <p class="text-secondary">{{ user.profile.description }}</p>
          <p class="text-secondary">{{ user.email }}</p>
          <p class="text-secondary">{{ user.profile.Role }}</p>
          <p class="text-secondary">{{ user.profile.years_in_academy }}</p>
        </div>
      </div>
      <a href="{% url 'accounts:edit_profile' %}">  <button class="btn btn-outline-info" type="submit">Update</button ></a>
    </div> -->

<!-- <p></p> -->
<div class="row g-0">

  <div class="col-md-4">
    <h1></h1>
    <img class="img-circle" width="270px" src="{{ user.profile.image.url }}">
  </div>
  <div class="col-md-8">

    <div class="card" style="max-width: 540px;">

          <div class="card-body">
            {% if user.first_name %}
            <h1 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                {% endif %}
              {% if user.email %}
            <p class="card-text">Email : {{ user.email }}</p>
              {% endif %}
            {% if user.profile.Gender %}
            <p class="card-text">Gender : {{ user.profile.Gender }}</p>
              {% endif %}
            {% if user.profile.Role %}
            <p class="card-text">Role : {{ user.profile.Role }}</p>
              {% endif %}
            {% if user.profile.years_in_academy %}
            <p class="card-text">Years in academy : {{ user.profile.years_in_academy }}</p>
              {% endif %}
            {% if user.profile.description %}
            <h3 class="card-text">Bio: </h4>
              <h5>{{ user.profile.description }}</h5>
              {% endif %}
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
          <a href="{% url 'accounts:edit_profile' %}">  <button class="btn btn-outline-info" type="submit">Update</button ></a>
      </div>

    </div>
<p></p>
{% if teacher %}
  <p>i am student</p>
  {% endif %}
{% endblock %}
