{% extends "base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"> -->

<div class="content-section">
  <div class="media">
    <img class="img-circle" width="150px" src="{{ user.profile.image.url }}">

    <div class="media-body">
      <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
      <p class="text-secondary">{{ user.profile.Gender }}</p>
      <p class="text-secondary">{{ user.profile.description }}</p>
      <p class="text-secondary">{{ user.email }}</p>
      <p class="text-secondary">{{ user.profile.Role }}</p>
      <p class="text-secondary">{{ user.profile.years_in_academy }}</p>
    </div>
  </div>
  <a href="{% url 'accounts:edit_profile' %}">  <button class="btn btn-outline-info" type="submit">Update</button ></a>
</div>

{% endblock %}
