{% extends "base.html" %}
<!-- {% load bootstrap3 %} -->
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row g-0">
  <div class="col-md-4">
    <img class="img-circle" width="270px" src="{{ user.student.Profile_pic.url }}">
  </div>
  <div class="col-md-8">
    <div class="card" style="max-width: 540px;">


      <h3>User Name: {{ user1.username }}</h3>
      <h3>Email Address: {{ user1.email }}</h3>
      <h3>First Name: {{ user1.first_name }}</h3>
      <h3>Last Name: {{ user1.last_name }}</h3>
          {% comment %} <div class="card-body">
            {% if user.first_name %}
            <h1 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                {% endif %}
              {% if user.email %}
            <p class="card-text">Email : {{ user.email }}</p>
              {% endif %}
            {% if user.student.Gender %}
            <p class="card-text">Gender : {{ user.student.Gender }}</p>
              {% endif %}
            {% if user.student.is_student %}
            <p class="card-text">Role : Student</p>
              {% endif %}
            {% if user.student.years_in_academy %}
            <p class="card-text">Years in academy : {{ user.student.years_in_academy }}</p>
              {% endif %}
            {% if user.student.description %}
            <h3 class="card-text">Bio: </h4>
              <h5>{{ user.student.description }}</h5>
              {% endif %}
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        {% endcomment %}
        {% if user.username %}
          <a href="{% url 'accounts:edit_student' %}">  <button class="btn btn-outline-info" type="submit">Update</button ></a>
        {% endif %}
      </div>
    </div>


{% endblock %}
